@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  font-family: "Montserrat" sans-serif;
}

.container {
  margin-bottom: 2rem;
}

.header {
  text-align: center;
}

.data {
  display: flex;
  margin: 30px;
}

.explanation {
  text-align: justify;
  margin: 30px;
  line-height: 40px;
}
